body {
    font-family: 'Press Start 2P', monospace;
    background-color: #000;
    color: rgb(0, 255, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

header h1 {
    
    margin: 0;
    font-size: 1em;
}

#inicio {
    font-family: 'Press Start 2P', monospace;
    background-color: rgb(9, 255, 0);
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight:900
}

main {
    padding: 20px;
}

.marcador {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1em;
    margin-bottom: 20px;
}

.combate {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.combate img {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 255, 0);
    background-color: #111;
    animation: aparecer 0.3s ease-in-out;
}

.combate p {
    margin-top: 10px;
    font-size: 0.9em;
    color: rgb(0, 255, 64);
}

@keyframes aparecer {
    0% {
        transform: scale(0.5) rotate(-20deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}


.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.opcion {
    background: none;
    border: 2px solid rgb(0, 255, 21);
    padding: 10px;
    cursor: pointer;
}

.opcion img {
    width: 60px;
    height: 60px;
}

#resultado {
    font-size: 1em;
    margin-bottom: 20px;
}

#reset {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}