header {
  position: fixed; 
  top: 20px;     
  right: 20px;
}
.boton-accion {
  background-color: #ffffff; 
  color: #1c1c1c;             
  padding: 5px 8px;          
  text-decoration: none;      
  border-radius: 50px;         
  font-weight: bold; 
}

body {
    background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}


#juego {
  background-color: rgba(155, 155, 155, 0.712);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0px 30px rgb(51, 255, 0);
  width: 320px;

  background-image: url(fondo-ajedrez-diseno-plano_23-2151086495.avif);
 background-position: 0%;
 
}
h1{
    font-family: Arial, Helvetica, sans-serif  ;
    color: rgb(51, 255, 0);
      text-shadow: 0 0px 5px rgb(0, 0, 0);
}
#mensaje{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: rgb(51, 255, 0);
      text-shadow: 0 0px 3px rgb(0, 0, 0);   
}
.error{
    color:yellow !important;
}